*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.d
*.o
*.a
*.blend1

render/
assets/source/
build/
build_unix/
out/
.cache/
compile_commands.json
.vs
.vscode
.idea
.cscope.big
.cscope.big.in
.cscope.big.po
.cscope.files
